*{
    background-color: grey;
}
#heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.game{
    margin-left: 30%;
    border: 5px solid lightgrey;
}
.p1,.p2{
    text-align: center;
    display: inline-block;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    text-align: center;
    color: whitesmoke
}